



<md-toolbar>    
  <h1>Angular Material Starter</h1>
</md-toolbar>

<div class="container" layout="row" flex>
    <md-sidenav md-is-locked-open="true" class="lightblue">Sidenav</md-sidenav>
    <md-content flex id="content" class="lightgreen" flex>Content</md-content>
</div>